.products {
  margin-top: 12vh;
  &-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  td {
    span {
      background-color: limegreen;
      padding: 2px 15px 4px;
      border: 1px solid;
      border-radius: 15px;
      color: white;
    }
  }
}
