<div class="dashboard">
    <div class="sub-title">
        <h2>Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="/selleraddprodcut">
                <div class="card bg-light menu">
                    <div class="card-body">New Product</div>
                </div>
            </a>
        </div>
        <div class="col-sm-12">
            <a href="/selleraddprodcut">
                <div class="card bg-light menu">
                    <div class="card-body">Update Product</div>
                </div>
            </a>
        </div>
        <div class="col-sm-12">
            <a href="/selleraddprodcut">
                <div class="card bg-light menu">
                    <div class="card-body">My Products</div>
                </div>
            </a>
        </div>
        <div class="col-sm-12">
            <a href="/selleraddprodcut">
                <div class="card bg-light menu">
                    <div class="card-body">Orders</div>
                </div>
            </a>
        </div>
    </div>
</div>