.products {
  margin-top: 12vh;
  &-title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  td {
    span {
      font-weight: 500;
    }
  }
  .action {
    float: right;
    padding: 20px;
    button {
      color: white;
      font-weight: 500;
      background-color: limegreen;
    }
  }
}
