<div class="products">
    <div class="sub-title">
        <h2>{{categoryValue}}</h2>
    </div>
    <div class="row">
        <div *ngFor="let item of list" class="col-sm-3">
          <a [routerLink]="['/product/',item['productId']]">
            <div class="card product">
                <img class="card-img-top" height="200"
                [src]="images[item['productId']]?images[item['productId']]:images['default']" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">{{item['productName']}}</h4>
                  <div class="product-info">
                    <p class="card-text">Price: RS {{item['price']}}</p>
                    <button class="btn btn-primary" >view</button>
                  </div>
                </div>
              </div>
              </a>
        </div>
    </div>
</div>