.login {
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80vh;

  &-block {
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
  }
}
.form {
  &-inplace {
    display: inline-flex;
    margin: 10px 0;

    label {
      width: 140px;
      font-weight: 500;
      margin-right: 10px;
    }
  }
}
.title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.action {
  text-align: center;
  margin: 15px;
}
